<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Letter</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.11/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.11/dist/js/uikit-icons.min.js"></script>

    <style>
        html {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: transparent;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 16px;
            scroll-behavior: smooth;
            -webkit-print-color-adjust: exact;
            print-color-adjust: economy;
        }

        *,
        :after,
        :before {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            padding: 0;
            line-height: 1.5
        }

        .uk-container.nav {
            border: 2px solid #283035;
            border-radius: 13px;
            background-color: transparent;
        }

        .uk-logo {
            font-weight: 500;
            margin-left: -0.5rem;
            font-size: 2rem;
            color: #283035;
        }

        h1 {
            font-weight: bold;
            color: #283035;
        }

        hr {
            border-top: 0.6px solid #999;
        }

        .uk-navbar-item {
            padding: 0;
        }

        .uk-navbar-item .uk-button-text {
            color: #283035;
        }

        .uk-card-default {
            border: 1px solid #666;
            border-radius: 13px;
            box-shadow: none;
        }
    </style>

</head>

<body>
    <div>
        <nav style="width:100%;" id='header'>
            <div class="uk-container nav uk-dark">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="#">GL CLOUD</a>
                    </div>
                    <div class="uk-navbar-right">
                        <h1 class='uk-text-center uk-margin-small-bottom'>INVOICE</h1>
                    </div>
                </div>
            </div>
            <div class='uk-container uk-margin-small-top'>
                <div class='uk-grid uk-grid-small' uk-grid>
                    <div class='uk-width-1-2'>
                        <p class='uk-margin-remove-bottom'>Client #: <%= 'idClient' %>
                        </p>
                        <p class='uk-margin-remove-top'>Job description: <%= 'comments' %>
                        </p>
                    </div>
                    <div class='uk-width-1-2 uk-text-right'>
                        <p class='uk-margin-remove-top uk-margin-remove-bottom'>https://www.nicolasgl.dev</p>
                        <p class='uk-margin-remove-top'>nicolas.garcia@glcloud.com.mx</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="uk-section uk-margin-top uk-padding-remove-vertical">
            <div class='uk-container'>
                <div class="uk-margin uk-grid uk-grid-small uk-child-width-1-1" uk-grid>
                    <div class='uk-width-1-1'>
                        <p class='uk-margin-remove-bottom'>Service description</p>
                    </div>
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Table Heading</th>
                                <th>Table Heading</th>
                                <th>Table Heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Table Data</td>
                                <td>Table Data</td>
                                <td>Table Data</td>
                            </tr>
                            <tr>
                                <td>Table Data</td>
                                <td>Table Data</td>
                                <td>Table Data</td>
                            </tr>
                            <tr>
                                <td>Table Data</td>
                                <td>Table Data</td>
                                <td>Table Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>

</html>